{% extends 'base.html' %}

{% block content %}

<form method="POST" action="{{ url_for('main.create_request') }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Fill out this form, and a qualified attorney will email you at the provided address.</legend>

        {{ form.full_name.label }}
        {{ form.full_name }}
        <ul>
        {% for error in form.full_name.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>

        {{ form.city.label }}
        {{ form.city }}
        <ul>
        {% for error in form.city.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>

        {{ form.email.label }}
        {{ form.email }}
        <ul>
        {% for error in form.email.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>

        {{ form.description.label }}
        {{ form.description }}
        <ul>
        {% for error in form.description.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>

        {{ form.submit }}
    </fieldset>
</form>

{% endblock %}