{% extends 'base.html' %}

{% block content %}

<form method="POST" action="{{ url_for('main.create_forum_post') }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Create a new forum post</legend>

        {{ form.title.label }}
        {{ form.title }}
        <ul>
        {% for error in form.title.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>
        
        
        {{ form.post.label }}
        {{ form.post }}
        <ul>
        {% for error in form.post.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>

        {{ form.submit }}
    </fieldset>
</form>

{% endblock %}
