{% extends 'base.html' %}

{% block content %}

<h1>{{ forum_post.title }}</h1>

<p>
    <strong>Author</strong>: {{ forum_post.author }}
</p>


{% if forum_post.publish_date %}
<p>
    <strong>Publish date</strong>: {{ forum_post.strftime('%B %d, %Y') }}
</p>
{% endif %}

<p>
    <strong>Post</strong>: {{ forum_post.post }}
</p>


<form method="POST" action="{{ url_for('main.book_detail', book_id=book.id) }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Edit this book</legend>

        {{ form.title.label }}
        {{ form.title }}
        
        {{ form.publish_date.label }}
        {{ form.publish_date(placeholder="YYYY-mm-dd") }}
        
        {{ form.author.label }}
        {{ form.author }}
        
        {{ form.post.label }}
        {{ form.post }}
            
        {{ form.submit }}
    </fieldset>
</form>

{% endblock %}
