{% extends 'base.html' %}
{% block content %}

<h1>Log In</h1>

<form action="/login" method="POST">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Enter your credentials</legend>

        {{ form.username.label }}
        {{ form.username }}
        <ul>
        {% for error in form.username.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>

        {{ form.password.label }}
        {{ form.password }}
        <ul>
        {% for error in form.password.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>

        {{ form.submit }}
    </fieldset>
</form>

<!-- <h3 class="bg-dark text-center pt-3 pb-5 mb-0">Attorneys: Sign in here</h3>
  <form class="bg-dark" style="padding-bottom: 10.3em;">
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
                <div class="card border-primary">
                    <div class="card-body">
                      <p class="card-text">

                          <form action="/login" method="POST">
                            {{ form.csrf_token }}
                            <fieldset>
                            <div class="form-group">
                                {{ form.username.label }}
                                {{ form.username }}
                                <ul>
                                    {% for error in form.username.errors %}
                                        <li class="error">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="form-group">
                                {{ form.password.label }}
                                {{ form.password }}
                                <ul>
                                {% for error in form.password.errors %}
                                    <li class="error">{{ error }}</li>
                                {% endfor %}
                                </ul>
                            </div>
                            <a href="#">Forgot Password?</a>

                            {{ form.submit }}
                            </fieldset>
                        </form>

                      </p>
                    </div>
                </div>
            </div>
		</div>
	</div>
  </form> -->

{% endblock %}